{% extends 'base.html' %}

{% block content %}

<div class="glass text-center" style="max-width: 500px; width:100%; margin:auto;">

    <h1 class="fw-bold mb-3" style="font-size: 38px;">
        Stock Price Prediction
    </h1>

    <p class="mb-4" style="opacity: 0.8;">
        Predict stock trends using AI, Deep Learning & Time Series models
    </p>

    <a href="/signin">
        <button class="btn-glow px-4 py-2">
            Get Started →
        </button>
    </a>

</div>

{% endblock %}